@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Bitcount+Single+Ink:wght@100..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* store my custome variables*/
:root {
  /* I picked this colour pallete beacuse */
  --colour-01: rgb(255, 255, 255);
  --colour-02: blue;
  --colour-03: rgb(59, 12, 83);
  --colour-04: pink;
  --boarder: solid pink 2px;
}
body {
  font-family: "Bitcount Single Ink", system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  line-height: 1.6;
  background-color: var(--colour-03);
  color: var(--colour-04);
}

h1 {
  font-size: 4rem;
}

nav {
  border: var(--boarder);
  padding: 2rem;
  color: rgb(156, 156, 232);
  font-family: "Cormorant Garamond", serif;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: var(--border);
  justify-content: space-between;
  width: 100%;
}

main {
  max-width: 1000px;
  width: 100%;
}
.mediaPlayerSection {
  width: 100%;
  margin: 0 auto;
}

#mediaPlayer {
  max-width: 100%;
}

.mediaPlayerControlContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

#playPauseButton {
  padding: 1rem;
  cursor: pointer;
}

#timelineProgress {
  flex: 1;
}
